#SEQUÊNCIAS

##TUPLAS
As **`tuplas`** são equivalentes às listas, só que **imutáveis**. Assim, diferentemente das listas, não podemos mudar uma tupla.

Elas são representadas com seus elementos separados por vírgulas e entre parênteses.

In [0]:
uma_tupla = (1, 2, 3, 4)
uma_tupla

(1, 2, 3, 4)

---
**Dica de programador:**
  
Para saber as "funções membro" que se pode utilizar com um objeto, você pode digitar o nome do objeto seguido por um ponto e clicar a tecla "tab" do teclado. Aparecerá uma lista com essas funções membro (aquelas funções reservadas para um tipo de objeto).
  
Faz assim: digita '*tuple.*' e clica em "tab" no teclado.
  ***

###`count()`

In [0]:
uma_tupla.count(2) # Quantidade de vezes que o elemento 2 aparece na tupla

1

###`index()`

In [0]:
uma_tupla.index(2)  # Posição que o elemento de valor 2 ocupa na tupla
                    # Lembrando que começa do 0

1

Ainda, podemos "transformar" uma `tupla` em uma `lista` usando a função **`list( )`**:

In [0]:
uma_lista = list(uma_tupla)
uma_lista

[1, 2, 3, 4]

Você deve observar que não estamos transformando de fato uma tupla em uma lista. Aliás, nem podemos fazer isso, uma vez que tuplas são imutáveis. Perceba, nossa tupla continua existindo:

In [0]:
uma_tupla

(1, 2, 3, 4)

Na verdade, o que está acontecendo é que a função **`list( )`** está **listando**, de fato, os elementos da tupla e criando um novo objeto do tipo **list** com os elementos da tupla.

In [0]:
type(uma_lista)

list

In [0]:
type(uma_tupla)

tuple

##SEQUÊNCIAS
Listas, strings e tuplas são todas exemplos de **sequências** - uma série de **elementos ordenados** (ou de caracteres, no caso das strings)

In [0]:
minha_lista = ['a', 'b', 'c']
minha_tupla = ('a', 'b', 'c')
minha_string = 'abc'

###Indexação
`seq[n]` vai retornar o elemento(ou caracter) na n-ésima posição da sequência em questão.

In [0]:
if minha_lista[1] == minha_tupla[1] == minha_string[1]:
    print(minha_lista[1], minha_tupla[1], minha_string[1])

('b', 'b', 'b')

###Comprimento
**`len(seq)`**, como já vimos antes, retorna o comprimento da sequência, ou seja, a quantidade de elementos ou caracteres.

In [0]:
if len(minha_lista) == len(minha_tupla) == len(minha_string):
    print(len(minha_lista), len(minha_tupla), len(minha_string))

(3, 3, 3)

###Segmentação
Assim como já fizemos com as listas, podemos segmentar qualquer sequência

In [0]:
print (minha_tupla[1:]) # Esse [1:] significa que a tupla será segmentada 
                        #a partir do elemento de posição 1
                        #e, como não definimos uma posição depois do :
                        #ela vai até o fim

('b', 'c')

###Operadores
`in` e `not in`são operadores. Assim, você pode checar se algum elemento é ou não parte de uma sequência. O interpretador vai entender como uma **pergunta** e vai te responder com `True`  ou `False`.

***
Exemplo: `x` `in` `seq` == `True` ⇔ algum item da sequência é igual a x
***

Para strings, você pode checar se uma substring faz parte da string em questão.

In [0]:
'b' in minha_lista

True

In [0]:
'b' in minha_tupla and 'b' in minha_lista and 'b' in minha_string

True

In [0]:
'oduç' in 'Engenharia de produção'

True

###Concatenação

Podemos unir objetos do mesmo tipo de maneira bem fácil usando o operador de adição +.

Ou duplicá-lo quantas vezes quisermos utilizando o operador de multiplição *.

In [0]:
uma_tupla + (5, 6, 7) #Lembra que tem que ser um objeto do mesmo tipo (tupla + tupla)

(1, 2, 3, 4, 5, 6, 7)

In [0]:
"Yay! " * 5

'Yay! Yay! Yay! Yay! Yay! '

In [0]:
print(minha_lista + list('de'),
      minha_tupla + tuple('de'),
      minha_string + 'de')

(['a', 'b', 'c', 'd', 'e'], ('a', 'b', 'c', 'd', 'e'), 'abcde')

###Loops com `for( )` 

Podemos usar a estrutura de repetição `for( )` para iterar em qualquer tipo de sequência.

In [0]:
for i in uma_tupla:
  print(i)

1
2
3
4

In [0]:
for sequencia in [minha_lista]:
    for item in sequencia:
        print(item, end=' ')
    print()

a b c

##EXERCÍCIO

1.  Dado uma lista de tuplas não vazias, escreva um programa que retorne uma lista ordenada pelo último elemento de cada tupla.
Dica: crie uma função personalizada para extrair o último elemento, ela deve ser passada como `key` no segundo parâmetro da função `sorted()`.
tuplas = [(4, 3), (5, 1), (7, 2), (9, 0)]